@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,400;1,600&display=swap');

* {
  /* max-width: 1280px;
  margin: 0 auto;
  text-align: center; */
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}

.horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
  text-align: center;
}

.horizontal-menu li {
  display: inline-block;

}

.horizontal-menu a {
  color: wheat;
  text-decoration: none;
  padding: 16px;
  display: block;
}